* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
}

body {
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Figtree";
  font-size: 0.9rem;
  color: var(--gray-500);
}

.card {
  background-color: var(--white);
  width: 18rem;
  outline: 1px solid var(--gray-950);
  border-radius: 1rem;
  box-shadow: 0.4rem 0.4rem var(--gray-950);
}

.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.top-img-box img {
  width: 100%;
  object-fit: contain;
  border-radius: 0.5rem;
}

.learn-box p {
  background-color: var(--yellow);
  display: inline-block;
  padding: 0.3rem 0.6rem;
  border-radius: 0.25rem;
  font-weight: 800;
  color: var(--gray-950);
}

a {
  text-decoration: none;
  color: var(--gray-950);
  font-size: 1.2rem;
  font-weight: 800;
}

a:hover {
  color: var(--yellow);
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.6rem 0;
}

.profile img {
  width: 2rem;
  height: 2rem;
}

.profile h4 {
  color: var(--gray-950);
  font-weight: 800;
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
}

.attribution a {
  font-size: 1rem;
  color: hsl(228, 45%, 44%);
}

.attribution a:hover {
  color: var(--gray-500);
}
